name: run-tests

on: [push, pull_request]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                php: [8.0, 8.1, 8.2]
                laravel: [9.*, 8.*, 10.*]
                stability: [prefer-stable]
                exclude:
                    -   php: 8.0
                        laravel: 10.*
                    -   php: 8.2
                        laravel: 8.*
                include:
                    -   laravel: 10.*
                        testbench: 8.*
                    -   laravel: 9.*
                        testbench: 7.*
                    -   laravel: 8.*
                        testbench: 6.23

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                    coverage: none

#            - name: Setup problem matchers
#              run: |
#                  echo "::add-matcher::${{ runner.tool_cache }}/php.json"
#                  echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
#
            -   name: Install dependencies
                run: |
                    composer install
                    composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
                    composer update --${{ matrix.stability }} --prefer-dist --no-interaction

            -   name: Execute tests
                run: vendor/bin/phpunit
